body {
  background-color: #f7f8fb;
}

.MyCard {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 10px;
  margin-top: 15px;
}
.cardHead {
  background-color: #114f5a;
  border-radius: 8px;
}
.carBody {
  padding: 10px;
  color: #f7f8fb;
}
.carBody h6 {
  font-style: italic;
  color: #c49450;
  font-weight: bold;
}
.carBody h3 {
  font-size: 34px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #c49450;
  margin-top: 5px;
}
.carBody h5 {
  font-size: 20px;
}
.carBody h4 {
  font-size: 18px;
}
.carBody Span {
  color: #c49450;

  font-weight: bold;
}
