@import "antd/dist/antd.css";

body {
  background-color: #f7f8fb;
}
.site-card-wrapper {
  padding: 20px;
}
.antCard {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.myForm {
  margin-top: 90px;
}
.login-form-button {
  background-color: #ff1744;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  font-weight: bold;
}

.MyCard {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 10px;
  margin-top: 15px;
}
.cardHead {
  background-color: #114f5a;
  border-radius: 8px;
}
.carBody {
  padding: 10px;
  color: #f7f8fb;
}
.carBody h6 {
  font-style: italic;
  color: #c49450;
  font-weight: bold;
}
.carBody h3 {
  font-size: 34px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #c49450;
  margin-top: 5px;
}
.carBody h5 {
  font-size: 20px;
}
.carBody h4 {
  font-size: 18px;
}
.carBody Span {
  color: #c49450;

  font-weight: bold;
}
